<!DOCTYPE html>
<html>
<head>
    <title>Add</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="sidebar">
    <a href="/dashboard">Dashboard</a>
    <a href="/add">Add</a>
    <a href="/generate">Generator</a>
    <a href="/settings">Settings</a>
</div>

<div class="main">

<h2>Add Item</h2>

<form method="POST">
    <input name="name" placeholder="Name">
    <input name="url" placeholder="URL">
    <input name="username" placeholder="Username">
    <input name="password" id="pass" placeholder="Password">

    <button>Save</button>
</form>

</div>

</body>
</html>